name: Combined Test Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  bdd_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install behave selenium webdriver-manager

      - name: Set up ChromeDriver
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-chromedriver

      - name: Run Behave Tests
        run: behave features/spy_messages.feature

  circle_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-describe

      - name: Run Brute Tests
        run: pytest test_brute.py